In [8]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

from api_keys import gkey

In [9]:
# read weather data into a dataframe

weather_df = pd.read_csv('output_data/cities.csv')
weather_df.head()

,City,Country,Latitude,Longitude,Max Temperature,Humidity,Wind Speed,Cloudiness,Date
0,Saskylakh,RU,71.9167,114.0833,-4.76,89,10.40,23,1618080067
1,Yulara,AU,-25.2406,130.9889,64.40,48,11.50,0,1618080093
2,Qinhuangdao,CN,39.9317,119.5883,48.07,62,6.44,71,1618080302
3,Nikolskoye,RU,59.7035,30.7861,37.00,86,2.24,40,1618080054
4,Ranong,TH,9.9658,98.6348,78.30,85,4.38,58,1618080492

In [10]:
# configure gmaps with API key

gmaps.configure(api_key = gkey)

weather_df.dtypes

City                object
Country             object
Latitude           float64
Longitude          float64
Max Temperature    float64
Humidity             int64
Wind Speed         float64
Cloudiness           int64
Date                 int64
dtype: object

In [13]:
# store latitude and longitude as location

locations = weather_df[['Latitude', 'Longitude']]

# convert humidity to to float and store

hum = weather_df[['Humidity']].astype(float)

     Humidity
0        89.0
1        48.0
2        62.0
3        86.0
4        85.0
..        ...
528      24.0
529      60.0
530      52.0
531      93.0
532      68.0

[533 rows x 1 columns]

In [ ]:
# create a humidity heatmap layer

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = hum, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

In [26]:
# new data frame with weather criteria

low_temp = 50
high_temp = 75
hum_lvl = 70
cloud = 75

perfect_weather = weather_df.loc[(weather_df['Max Temperature'] >= low_temp) & 
                                 (weather_df['Max Temperature'] <= high_temp) &
                                 (weather_df['Humidity'] >= hum_lvl) & 
                                 (weather_df['Cloudiness'] >= cloud)
                                ]
perfect_weather.head()

65